*{

    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial,sans-serif;
    background:#F8FAFC;
    color:#0F172A;
    overflow-x:hidden;
}

/* ---------- Floating Animation ---------- */

@keyframes float{

    0%{

        transform:translateY(0px);
    }

    50%{

        transform:translateY(-8px);
    }

    100%{

        transform:translateY(0px);
    }
}