<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedIntel AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">

        <h1>MedIntel AI</h1>

        <h2>Understand Your Medical Reports with AI</h2>

        <p>
            Upload your medical reports and receive simple, AI-powered explanations
            that help you understand your health better.
        </p>

        <button>Upload Medical Report</button>

    </div>
</body>
</html>